<br><br><br><br><br>
<%= @list.name %>
<br><br><br><br><br>
<ul>
  <%  @movies.each do |movie| %>
    <% bookmark = Bookmark.where("list_id = #{@list.id} AND movie_id = #{movie.id}")[0] %>
    <li><%= movie.title %><%= link_to "Delete this from the list", bookmark_path(bookmark) , method: :delete %></li> </li>
  <% end %>
</ul>
<%= link_to "Add a new bookmark", new_list_bookmark_path(@list) %>
